@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css');

@import 'hx-chrome-lib/dist/extension.css';
@import '../../styles/baseVars.css';
@import '../../styles/statusbar.css';

body.success {
  background-color: limegreen;
}

td {
  white-space: nowrap;
}

img.collab-banner {
  //width: 350px !important;
  //min-height: 100px;
  //max-height: 500px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 155px;
  max-height: 155px;
  max-width: 310px;
}

td {
  vertical-align: top;
  white-space: nowrap;
}

table tr td {
  vertical-align: top;
}

body tr:nth-child(even) {
  background-color: rgb(241 239 235);
}

span.mint-date,
span.mint-time,
span.raffle-date {
  color: black;
  .restarted {
    color: #cfcbcb;
  }
}

span.restarted {
  color: #cfcbcb;
}

span.restarted {
  color: #cfcbcb;
}

span.winner-count,
span.entry-count {
  color: #cfcbcb;
}

span.mint-date:not(.first),
span.mint-time:not(.first),
span.time-left:not(.first),
span.dtc:not(.first),
span.blockchain:not(.first),
span.team-name:not(.first),
span.winner-count:not(.first),
span.entry-count:not(.first),
span.provider:not(.first),
span.raffle-date:not(.first) {
  color: #cfcbcb;
}
span.team-name:not(.first) {
  color: #b2b0b0;
}

span.has-entered.x {
  color: white;
  font-weight: normal;
  background-color: green;
  padding: 0 8px;
}

span.team-name,
span.odds {
  color: black;
}

.odds {
  color: black;
  font-weight: 500;
}

.odds[data-n='0'] {
  color: #e7e0e0;
}

.odds[data-n='1'],
.odds[data-n='2'] {
  color: black;
  font-weight: normal;
}

.odds[data-n='3'],
.odds[data-n='4'],
.odds[data-n='5'],
.odds[data-n='6'],
.odds[data-n='7'],
.odds[data-n='8'],
.odds[data-n='9'] {
  color: black;
  font-weight: normal;
}

a.raffle-link,
a.twitter-link {
  color: black;
  text-decoration: none;
}

a.discord-link {
  color: #cfcbcb;
  text-decoration: none;
}

a:hover.raffle-link,
a:hover.twitter-link,
a:hover.discord-link {
  text-decoration: underline;
}

a.raffle-link:not(.first) {
  color: #cfcbcb;
}

.winner-count,
.entry-count {
  white-space: nowrap;
}

thead {
  text-transform: uppercase;
}

thead tr td {
  background-color: black;
  color: white;
  border: 1px solid lightgray;
}

span.wins-id.win {
  color: black;
  background-color: yellow;
  display: inline-block;
  font-size: 14px;
  padding: 0 4px;
  font-weight: normal;
  border: solid 1px black;
}

span.wins-id:after {
  content: attr(data-wins);
}

.show-provider:after {
  content: attr(data-hx-count);
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

a.hx-twitter-link:after {
  margin-right: 0;
  display: block;
  margin: 10px 0;
  width: 40px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
  background: white;
  padding: 10px 0;
}

.show-provider:after {
  content: attr(data-hx-count);
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

#show-providers {
  margin-top: 15px;
  a {
    cursor: pointer;
  }
}

a.show-provider {
  cursor: pointer;
}
