@import 'baseVars.scss';

body {
  width: 250px;
  display: grid;
  grid-template-columns: max-content;
  margin: 0;
  background-color: var(--base-theme-background-color);
}

body > * {
  grid-column: 2;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  border-radius: 0px;
  margin: 0;
  border-bottom: 1px solid white;
  border: none;
  color: black;
}

hr {
  margin: 0;
  border-top: 1px white;
  width: 100%;
  border: 0;
  height: 1px;
  margin: 0px;
  background: white;
}

button,
[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
label[type='button'] {
  padding: 6px;
  color: var(--popup-btn-color);
  background-color: var(--popup-btn-background-color);
  font-size: 14px;
  padding: 10px;
  font-size: 14px;
}

button:focus,
button:enabled:hover,
[role='button']:focus,
[role='button']:not([aria-disabled='true']):hover,
input[type='submit']:focus,
input[type='submit']:enabled:hover,
input[type='reset']:focus,
input[type='reset']:enabled:hover,
input[type='button']:focus,
input[type='button']:enabled:hover,
label[type='button']:focus,
label[type='button']:hover {
  filter: unset;
  color: var(--base-theme-color);
  background-color: var(--base-theme-background-color);
  cursor: pointer;
}
