@import 'baseVars.css';
@import 'raffleInfo.css';
@import 'statusbar.css';

:root {
  /* raffle-info */
  --raffle-info-registered: #50ee76;
  --raffle-info-not-register-properly: #d6432b;
  --raffle-info-raffle-unknown-error: #d6432b;
  --raffle-info-switch-twitter-user-error: #d6432b;
  --raffle-info-no-raffle-trigger: #d6432b;
  --raffle-info-generic-error: #d6432b;
}

.ph-button {
  color: white !important;
  background-color: var(--atlas-btn-background-color) !important;
  border-color: var(--atlas-btn-border-color) !important;
  padding: 10px 10px;
}

.ph-button:hover {
  background-color: var(--atlas-btn-hover-background-color) !important;
}

body.alreadyWon .text-sm.font-normal {
  color: black;
}

body.registered .text-sm.font-normal {
  color: black;
}

.hx-already-won {
  color: var(--raffle-wins-color);
  background-color: var(--raffle-wins-background-color);
  border: solid 1px black;
  padding: 3px;
  text-align: center;
  width: 100%;
}

body.exitAction {
  opacity: 0.5 !important;
}

.hx-already-won {
  margin-bottom: 15px;
}
