@import 'basePage.scss';

body {
  max-width: 1200px;
  margin-bottom: 20px;
}

.row * {
  display: inline-block;
}

.col * {
  display: block;
}

.col label,
.row label {
  font-weight: 600;
  padding: 0 10px 8px 0;
  margin-bottom: 2px;
}

.row label.labelAfter {
  font-weight: normal;
}

.buttons-row {
  display: inline-block;
  margin-top: 20px;
  button {
    margin-right: 15px;
  }
}

.section {
  margin: 10px 0;
  padding: 10px 0;
  span {
    font-size: 1.2em;
    font-weight: bold;
    background-color: antiquewhite;
    display: block;
    width: 100%;
    padding: 6px 8px;
  }
}

.subheader {
  margin-top: 12px;
  margin-bottom: 12px;
}

.description {
  margin: 5px 0 20px 0;
  padding: 5px 0;
  span {
    font-style: italic;
  }
}

#statusText.visible {
  margin-left: 20px;
  padding: 8px 10px;
  background-color: rgb(167, 253, 141);
  font-weight: bold;
}

img.info {
  width: 20px;
}

table tr td {
  border: none;
}

tr {
  background-color: unset;
}

tr:nth-child(even) {
  background-color: unset;
}

td {
  white-space: nowrap;
  padding: 0 1rem 0 0;
}

td label {
  font-weight: 600;
  padding: 0 10px 8px 0;
  margin-bottom: 2px;
}
